@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #4b0c4b;
    --branco: #FFFFFF;
    --amarelo: #c0eb00;
    --Bordô: linear-gradient(97.54deg, #520000 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --Bordô: #520000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
